
/* Style globalne */

body {
    --slate: #434455;
    --white:  #FFFFFF;
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --cloud: #F4F4FD;
    --grey: #2E2F42;
     font-family: Roboto, sans-serif;
     color: var(--slate);
     background-color: var(--white);
     line-height: 1.5;
     letter-spacing: 0.02em;

}

h1 {
    /* --header-color: #FFFFFF; */
    color: var(--white);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.071;
    letter-spacing: 0.02em;
    text-align: center;
}

h2, h3 {
    /* --heading-color: #2E2F42; */
    color: var(--grey);
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    /* --button-bg: #4D5AE5; */
    cursor: pointer;
    background-color: var(--iris);
}

/* Style klas */

.visually-hidden {
    margin: -1px;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Nawigacja */

.logo {
    /* --logo-color: #4D5AE5; */
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    color: var(--iris);
    letter-spacing: 0.03em;
}

.logo-distinction-header {
    /* --logo-color-header: #2E2F42; */
    color: var(--grey);
}

.logo-distinction-footer {
    /* --logo-color-footer: #F4F4FD;
    color: var(--cloud); */
}

.nav-link {
    /* --nav-link-color: #2E2F42; */
    font-weight: 500;
    color: var(--grey);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-link {
    color: var(--slate);
}

.address {
    font-style: normal;
}

.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus {
    /* --interactive-link-color: #404BBF; */
    color: var(--ocean);
}

/* Sekcja pierwsza */

.first-section {
    /* --first-section-bg: #2E2F42; */
    background-color: var(--grey);
}

.first-section-button {
    /* --button-color: #FFFFFF; */
    font-weight: 500;
    letter-spacing: 0.04em;
    color: var(--white);
}

/* Trzecia sekcja */

.third-section {
    /* --third-section-bg: #F4F4FD; */
    background-color: var(--cloud);
    text-align: center;
}

.third-section li {
    /* --li-color: #FFFFFF; */
    background-color: var(--white);
    margin: 24px;
}