
/* Style globalne */

body {
    --text-color: #434455;
    --bg-color: #FCFCFC;
     font-family: Roboto, sans-serif;
     color: var(--text-color);
     background-color: var(--bg-color);
     line-height: 1.5;
     letter-spacing: 0.02em;

}

h1 {
    --header-color: #FFFFFF;
    /* color: var(--header-color); */
    font-weight: 700;
    font-size: 56px;
    line-height: 1.071;
}

h2, h3 {
    --heading-color: #2E2F42;
    color: var(--heading-color);
}

h2 {
    font-weight: 700;
    font-size: 36px;
}

h3 {
    font-weight: 500;
    font-size: 20px;
}

a {
    color: inherit;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
}

/* Style nagłówków */