
/* Style globalne */

body {
    --text-color: #434455;
    --bg-color: #FCFCFC;
     font-family: Roboto, sans-serif;
     color: var(--text-color);
     background-color: var(--bg-color);
     line-height: 1.5;
     letter-spacing: 0.02em;

}

h1 {
    --header-color: #FFFFFF;
    /* color: var(--header-color); */
    font-weight: 700;
    font-size: 56px;
    line-height: 1.071;
}

h2, h3 {
    --heading-color: #2E2F42;
    color: var(--heading-color);
}

h2 {
    font-weight: 700;
    font-size: 36px;
}

h3 {
    font-weight: 500;
    font-size: 20px;
}

a {
    color: inherit;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

/* Style klas */

.medium-text {
    --medium-text-color: #2E2F42;
    font-weight: 500;
    color: var(--medium-text-color);
}

/* Logo */

.logo {
    --logo-color: #4D5AE5;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.166;
    color: var(--logo-color);
}

.logo-distinction-header {
    --logo-color-header: #2E2F42;
    color: var(--logo-color-header);
}

.logo-distinction-footer {
    --logo-color-footer: #F4F4FD;
    /* color: var(--logo-color-footer); */
}